input[type="text"], input[type="search"], input[type="submit"], button {
  padding: $padding-v $padding-h;
  border: 1px solid $border-color;
  border-radius: $border-radius;
}

button, input[type="submit"] {
  cursor: pointer;
  background: transparent;
  border-color: $border-color;
  color: $link-color;
  transition: color 0.6s ease-in-out,
              border-color 0.6s ease-in-out,
              background 0.6s ease-in-out;

  &:hover {
    background: $link-color;
    border-color: $link-color;
    color: white;
    box-shadow: $default-box-shadow;
  }
}