#### Before coming to mathcamp:

<table>
      <col width="5%">
    <col width="35%">
    <col width="35%">
    <col width="25%">
<thead>
<tr>
<th align="left">Date</th>
<th align="left">Topics</th>
<th align="left">Readings</th>
<th align="left">Assignments</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left">Prereqs</td>
<td align="left">Univariate Calculus</td>
<td align="left">S&amp;B 2-5</td>
<td align="left">Prerequisite assignment to be completed early in the course.</td>
</tr>
</tbody>
</table>

<!--
| Date  | Topics | Readings | Assignments |
| :--- | :---   | :--- | :--- |
| Prereqs | Univariate Calculus | S&B 2-5 | Prerequisite assignment to be completed early in the course.|

-->
#### Week 1 (July 15-July 19)

<table>
      <col width="5%">
    <col width="35%">
    <col width="35%">
    <col width="25%">
<thead>
<tr>
<th align="left">Date</th>
<th align="left">Topics</th>
<th align="left">Readings</th>
<th align="left">Assignments</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left">15</td>
<td align="left">Linear Systems and Matrix Algebra</td>
<td align="left">S&amp;B 6-9; Notes</td>
<td align="left"></td>
</tr>
<tr>
<td align="left">16</td>
<td align="left">Linear Systems and Matrix Algebra</td>
<td align="left">S&amp;B 6-9; Notes</td>
<td align="left"></td>
</tr>
<tr>
<td align="left">17</td>
<td align="left">Linear Spaces</td>
<td align="left">S&amp;B 10, 11</td>
<td align="left"></td>
</tr>
<tr>
<td align="left">18</td>
<td align="left">Linear Spaces and Set Theory</td>
<td align="left">S&amp;B 10, 11; Provided Notes</td>
<td align="left"></td>
</tr>
<tr>
<td align="left">19</td>
<td align="left">Weekly Review</td>
<td align="left"></td>
<td align="left"><strong>Assignment 1 due</strong></td>
</tr>
</tbody>
</table>
<!--
| Date  | Topics | Readings | Assignments |
| :--- | :---   | :--- | :--- |
| 15 | Linear Systems and Matrix Algebra | S&B 6-9; Notes |  |
| 16 | Linear Systems and Matrix Algebra | S&B 6-9; Notes |  |
| 17 | Linear Spaces | S&B 10, 11 | |
| 18 | Linear Spaces and Set Theory | S&B 10, 11; Provided Notes |  |
| 19 | Weekly Review |  | **Assignment 1 due** |
-->
#### Week 2 (July 22-July 26)

<table>
      <col width="5%">
    <col width="35%">
    <col width="35%">
    <col width="25%">
<thead>
<tr>
<th align="left">Date</th>
<th align="left">Topics</th>
<th align="left">Readings</th>
<th align="left">Assignments</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left">22</td>
<td align="left">Set Theory</td>
<td align="left">S&amp;B 10, 11; Provided Notes</td>
<td align="left"></td>
</tr>
<tr>
<td align="left">23</td>
<td align="left">Proofs</td>
<td align="left">Appendix A1; Provided Notes</td>
<td align="left"></td>
</tr>
<tr>
<td align="left">24</td>
<td align="left">Proofs and Real Analysis</td>
<td align="left">S&amp;B 12; Appendix A1; Provided Notes</td>
<td align="left"></td>
</tr>
<tr>
<td align="left">25</td>
<td align="left">Proofs and Real Analysis</td>
<td align="left">S&amp;B 12; Appendix A1; Provided Notes</td>
<td align="left"></td>
</tr>
<tr>
<td align="left">26</td>
<td align="left">Weekly Review</td>
<td align="left"></td>
<td align="left"><strong>Assignment 2 due</strong></td>
</tr>
</tbody>
</table>
<!--
| Date  | Topics | Readings | Assignments |
| :--- | :---   | :--- | :--- |
| 22 | Set Theory | S&B 10, 11; Provided Notes |  |
| 23 | Proofs | Appendix A1; Provided Notes |  |
| 24 | Proofs and Real Analysis | S&B 12; Appendix A1; Provided Notes |  |
| 25 | Proofs and Real Analysis | S&B 12; Appendix A1; Provided Notes |  |
| 26 | Weekly Review |  | **Assignment 2 due**  |
-->
#### Week 3 (July 29-August 2)

<table>
      <col width="5%">
    <col width="35%">
    <col width="35%">
    <col width="25%">
<thead>
<tr>
<th align="left">Date</th>
<th align="left">Topics</th>
<th align="left">Readings</th>
<th align="left">Assignments</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left">29</td>
<td align="left">Proofs and Real Analysis</td>
<td align="left">S&amp;B 12; Appendix A1; Provided Notes</td>
<td align="left"></td>
</tr>
<tr>
<td align="left">30</td>
<td align="left">Optimization</td>
<td align="left">S&amp;B 20-21</td>
<td align="left"></td>
</tr>
<tr>
<td align="left">31</td>
<td align="left">Optimization</td>
<td align="left">S&amp;B 20-21</td>
<td align="left"></td>
</tr>
<tr>
<td align="left">1</td>
<td align="left">Optimization</td>
<td align="left">S&amp;B 20-21</td>
<td align="left"></td>
</tr>
<tr>
<td align="left">2</td>
<td align="left">Weekly Review</td>
<td align="left"></td>
<td align="left"><strong>Assignment 3 due</strong></td>
</tr>
</tbody>
</table>
<!--
| Date  | Topics | Readings | Assignments |
| :--- | :---   | :--- | :--- |
| 29 | Proofs and Real Analysis | S&B 12; Appendix A1; Provided Notes |  |
| 30 | Optimization | S&B 20-21 |  |
| 31 | Optimization | S&B 20-21 |  |
| 1 | Optimization | S&B 20-21 |  |
| 2 | Weekly Review |  | **Assignment 3 due**  |
-->
#### Week 3 (August 5-August 9)

<table>
      <col width="5%">
    <col width="35%">
    <col width="35%">
    <col width="25%">
<thead>
<tr>
<th align="left">Date</th>
<th align="left">Topics</th>
<th align="left">Readings</th>
<th align="left">Assignments</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left">5</td>
<td align="left">Multivariate Calculus</td>
<td align="left">S&amp;B 13-15, 30</td>
<td align="left"></td>
</tr>
<tr>
<td align="left">6</td>
<td align="left">Multivariate Calculus</td>
<td align="left">S&amp;B 13-15, 30</td>
<td align="left"></td>
</tr>
<tr>
<td align="left">7</td>
<td align="left">Multivariate Calculus</td>
<td align="left">S&amp;B 13-15, 30</td>
<td align="left"></td>
</tr>
<tr>
<td align="left">8</td>
<td align="left">Introduction to Programming</td>
<td align="left">Optional</td>
<td align="left"></td>
</tr>
<tr>
<td align="left">9</td>
<td align="left">Weekly Review</td>
<td align="left"></td>
<td align="left"></td>
</tr>
</tbody>
</table>
<!--
| Date  | Topics | Readings | Assignments |
| :--- | :---   | :--- | :--- |
| 5 | Multivariate Calculus | S&B 13-15, 30 |  |
| 6 | Multivariate Calculus | S&B 13-15, 30 |  |
| 7 | Multivariate Calculus | S&B 13-15, 30 |  |
| 8 | Introduction to Programming | Optional |  |
| 9 | Weekly Review |  |  |
-->
#### Week 4 (August 12-14)

<table>
      <col width="5%">
    <col width="35%">
    <col width="35%">
    <col width="25%">
<thead>
<tr>
<th align="left">Date</th>
<th align="left">Topics</th>
<th align="left">Readings</th>
<th align="left">Assignments</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left">12</td>
<td align="left"></td>
<td align="left"></td>
<td align="left"><strong>Assignment 4 due</strong></td>
</tr>
<tr>
<td align="left">TBA</td>
<td align="left">Final Exam</td>
<td align="left">No Notes</td>
<td align="left"></td>
</tr>
</tbody>
</table>
<!--
| Date  | Topics | Readings | Assignments |
| :--- | :---   | :--- | :--- |
| 12 |  |  | **Assignment 4 due**  |
| TBA | Final Exam | No Notes |  |
-->
*S&B ~ Simon & Blume text*