<div id="sidebar">
  
  <!--<main>
    <div id='avatar'>
      <img src = "https://i.imgur.com/f3Usi8c.png" border="4" target='avatar' class="home-link {% if page.url == '/' %} active{% endif %}">
    </div>
  </main>-->
  {% unless page.url != "/" %}
    <main>
      <div id='avatar'>
        <img src = "https://i.imgur.com/f3Usi8c.png" border="4" target='avatar' class="home-link {% if page.url == '/' %} active{% endif %}">
      </div>
    </main>
  {% endunless %}

  <header>

    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">

      <a href="{{ site.baseurl }}/">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead">{{ site.description }}<br>
    {{ site.description2 }}</p>
  </header>

  {% include sidebar-nav-links.html %}

<!--
  {% if site.version %}
    <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}
-->
  {% include sidebar-icon-links.html %}
  

  {% include copyright.html %}
</div>